.App,
.Winner {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  background: linear-gradient(
    to right,
    #0a826c 10%,
    white 10%,
    white 20%,
    #0a826c 20%,
    #0a826c 80%,
    white 80%,
    white 90%,
    #0a826c 90%,
    #0a826c 100%
  );
}

.Winner {
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-logs {
  text-align: left;
  font-size: 12px;
}

.App-console-log {
  font-size: 14px;
  color: darkorange;
}

.Circle {
  animation: fadein 1s ease-in;
}

.Triangle {
  margin: 0 30px;
  animation: fadein 2s ease-in;
}

.Square {
  animation: fadein 3s ease-in;
}

.Number {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-size: 200px;
  font-weight: 600;
}

.number-flip {
  animation-name: flip;
  animation-duration: 0.2s;
  animation-iteration-count: infinite;
  animation-delay: 0.5s;
}

.wallet-address {
  font-size: 20px;
  font-weight: 400;
  animation: fadein 1s ease-in;
}

.wallet-loading {
  font-size: 20px;
  font-weight: 400;

  box-shadow: 0 0 0 0 rgba(225, 225, 225, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.15;
  }
  70% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flip {
  from {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(225, 225, 225, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(225, 225, 225, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(225, 225, 225, 0);
  }
}

.Curtain {
  position: absolute;
  background-color: black;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

.Curtain-hide {
  animation: fadeout 1s ease-in;
  z-index: -1;
}
